.navbar {
  position: fixed;
  top: 0;
  height: 60px;
  background-color: #111;
  color: white;
  display: flex;
}
.navbar > a {
  color: white;
  font-weight: 800;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
  transition: all 200ms ease-in;
}
.navbar__title {
  margin-right: auto;
}
.navbar > a:hover {
  color: grey;
}
.navbar__signup {
  margin-right: 10px;
}
.navbar__logout {
  margin-right: 10px;
}
.navbar__login {
  margin-right: 10px;
}
.navbar__blog__create {
  margin-right: 10px;
}
